@keyframes scrollText {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}
.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: transform 1s ease;
  color: white;
  padding: 0;
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  border-radius: 10px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 9999;

  &.hide {
    transform: translateY(80px);
  }

  &.show {
    transform: translateY(0px);
  }

  h2 {
    padding: 0;
    margin: 0;
    overflow: auto;
    animation: scrollText 4s linear;
  }

  p {
    padding: 5px 0 0 0;
    margin: 0;
    overflow: auto;
    animation: scrollText 4s linear;
  }
}