$primary-color: #282c34;
$secondary-color: rgba(52, 48, 40, 0.95);
$text-color: white;
$text-color-secondary: #1a1a1a;

$button-size: 100px;;

body {
  background-color: $primary-color;
}

.App {
  text-align: center;
}

.App-body {
  color: $text-color;
  display: grid;
  align-items: center;
  gap: 10px;
  height: 100vh;

  >.game{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    >.bot {
      width: 500px;
      position: relative;

      >.monika {
        width: 500px;
        height: 500px;
        border-radius: 5%;
        background-image: url('./img/rps_girl.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      >.response {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        margin-top: -100px;
        padding: 5px 25px 5px 25px;
        width: 80%;
        height: 20%;
        border-radius: 50px;
        border: 2px solid $text-color;
        background-color: $secondary-color;
        font-size: 105%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    >.ui {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      >h1 {
        width: 240px;
      }
      >h1, p {
        padding: 0;
        margin: 10px;
      }

      >h1 {
        width: 100%;
        text-align: left;
        margin-left: 50px;
      }
    }
  }

  button {
    border: none;
    padding: 10px;
    margin: 20px;
    min-width: $button-size;
    font-size: $button-size;
    border-radius: 40%;
    border: 2px solid $primary-color;
    cursor: pointer;
    transition: transform 0.25s ease-out;

    &:active {
      transform: translate(2px, 2px);
    }
  }

  .back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    font-size: 70px;
    border-radius: 50%;
    border: 2px solid $text-color;
    color: $text-color;
    background-color: $primary-color;

    &:hover{
      background-color: $text-color-secondary;
    }
  }

  .welcome {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    gap: 10px;
    max-width: 700px;
    min-height: 500px;
  }

  .navi {
    border: 2px solid $text-color;
    color: $text-color;
    background-color: $primary-color;
    border-radius: 20px;
    min-height: 300px;
    width: 300px;
    font-size: 60px;

    &:hover{
      background-color: $text-color-secondary;
    }

    >p {
      margin: 0;
      padding: 0;
    }
  }

  .description-box {
    display: flex;
    flex-direction: column;
    margin: 20 auto;
    font-size: 140%;
  }

}

