$primary-color: #282c34;
$text-color: white;
$link-color: #61dafb;

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: $primary-color;
  min-height: 50px;
  max-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text-color;
}

.App-link {
  color: $link-color;
}

.App-body {
  background-color: $primary-color;
  min-height: calc(100vh - 50px);
}