$primary-color: #282c34;
$secondary-color: rgba(52, 48, 40, 0.95);
$text-color: white;
$text-color-secondary: #1a1a1a;

.sudoku-game {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;

  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
    
    button{
      margin: 20px auto;
      width: 20vmin;
      min-width: 110px;
      height: 10vmin;
      min-height: 80px;
      font-size: 1.6rem;
      border-radius: 10px;
      padding: 0;
      transition: transform 0.1s ease;
    }

    .difficulty {
      display: flex;
      flex-direction: column;
      padding: 0;

      >button {
        width: 10vmin;
        min-width: 50px;
        height: 5vmin;
        min-height: 40px;
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
      }
      .active{
        background-color: $secondary-color;
        color: $text-color;
        border: 1px solid $text-color;
      }
    }
  }
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vmin;
  height: 90vmin;
  margin: 0 auto;

  .row {
    display: flex;

    .cell {
      width: 8vmin;
      height: 8vmin;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      font-size: 2.6rem;
      cursor: pointer;

      &.red {
        color: crimson;
      }
      &.bottom-border-bold {
        border-bottom-width: 8px;
      }

      &.right-border-bold {
        border-right-width: 8px;
      }

      &:hover{
        background-color: $secondary-color;
      }
    }
  }
}